<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cn.com.nd.momo">
	<!--call note provider -->

	<application android:name=".activity.MyApplication"
		android:icon="@drawable/ts_icon" android:label="@string/app_name"
		android:theme="@style/MoMoTheme">
		<!-- 单元测试需要用到库 -->
		<uses-library android:name="android.test.runner" />

		<activity android:name=".activity.LauncherActivity"
			android:configChanges="keyboardHidden|orientation" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
			<intent-filter>
		 		<action android:name="cn.com.nd.momo.launch" />
		     	<action android:name="android.intent.action.DEFAULT" />
		 		<category android:name="android.intent.category.DEFAULT" />
		
		 	</intent-filter>
		 
		</activity>

		<activity android:name=".activity.MainActivity"
			android:label="@string/app_name" android:launchMode="singleTask"
			android:windowSoftInputMode="adjustPan" android:configChanges="keyboardHidden|orientation">


			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="momo" />
			</intent-filter>
		</activity>


		<!-- option tab -->
		<activity android:name=".activity.OptionActivity" />
		<activity android:name=".activity.AboutActivity" />

		<activity android:name=".activity.LoginActivity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.RegistSendVerifyActivity"
			android:configChanges="keyboardHidden|orientation" />

		<activity android:name=".activity.RegInfoActivity"
			android:launchMode="singleTask" android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.CountrySelectActivity"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="stateVisible|adjustPan" />

		<activity android:name=".activity.Group_Fragment_Activity"
			android:launchMode="standard" android:configChanges="orientation|keyboardHidden" />

		<!-- other activity -->
		<activity android:name=".activity.SmileTabActivity"
			android:theme="@style/smileyDialogTheme">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.SAMPLE" />
			</intent-filter>
		</activity>

		<!-- momo activitys -->
		<activity android:name=".activity.Statuses_Activity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.Statuses_Comment_Activity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.WholeImageActivity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.Statuses_Images_Activity"
			android:configChanges="keyboardHidden|orientation" />
		<activity android:name=".activity.Statuses_Send_Activity"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="adjustResize" >
			<intent-filter >
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
	        <action android:name="android.intent.action.SEND" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="text/plain" />
		    </intent-filter>
		    <intent-filter>
		        <action android:name="android.intent.action.SEND_MULTIPLE" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:mimeType="image/*" />
		    </intent-filter>
		</activity>

		<activity android:name=".activity.SelectorActivity"
			android:configChanges="keyboardHidden|orientation"
			android:windowSoftInputMode="stateHidden|adjustPan" />


		<!-- webview activity -->
		<activity android:name=".activity.WebViewActivity"
			android:configChanges="keyboardHidden|orientation" />

		<activity android:name=".activity.RegistVerifyCodeActivity"
			android:configChanges="keyboardHidden|orientation" 
			android:windowSoftInputMode="stateHidden|adjustPan" />


	</application>

	<!-- 权限设置部分 -->
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

	<uses-permission android:name="android.permission.READ_CALENDAR" />
	<uses-permission android:name="android.permission.WRITE_CALENDAR" />

	<uses-permission android:name="android.permission.WRITE_CAbuxinLENDAR" />
	<uses-permission android:name="android.permission.VIBRATE" />

	<uses-permission android:name="android.permission.CAMERA" />

	<!-- 地图定位 -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<!--momo动态 -->
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-feature android:name="android.hardware.camera"></uses-feature>

	<!-- 创建桌面快捷方式 -->
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

	<instrumentation android:name="android.test.InstrumentationTestRunner"
		android:targetPackage="cn.com.nd.momo" android:label="Tests for momo subpackages." />

	<!-- other -->
	<supports-screens android:smallScreens="true"
		android:normalScreens="true" android:largeScreens="true"
		android:anyDensity="true" />

	<!-- sdk version -->
	<uses-sdk android:minSdkVersion="5" />

</manifest> 
